<body>
    
    <div class="container mt-3">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="width: 100%;">
        <img src="ipad.webp" class="card-img-top" alt="image">
        <div class="card-body">
          <h3 class="card-title">$100</h3>
          <h5 class="card-title">11-inch iPad Pro M5 chip Wi-Fi 256GB - Space Black</h5>
          <p class="card-text">Newest iPad with lowest storage!</p>
          <a routerLink = "purchase" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>


    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="width: 100%;">
        <img src="graphicCard.webp" class="card-img-top" alt="image">
        <div class="card-body">
          <h3 class="card-title">$200</h3>
          <h5 class="card-title">GIGABYTE - NVIDIA GeForce RTX 5090</h5>
          <p class="card-text">Newest graphic card on the market!</p>
          <a routerLink = "purchase" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>


    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="width: 100%;">
        <img src="banana.avif" class="card-img-top" alt="image">
        <div class="card-body">
          <h3 class="card-title">$1000</h3>
          <h5 class="card-title">Fresh Bananas</h5>
          <p class="card-text">Luxury Bananas</p>
          <a routerLink = "purchase" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>


    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="width: 100%;">
        <img src="tv.jpg" class="card-img-top" alt="image">
        <div class="card-body">
          <h3 class="card-title">$1000</h3>
          <h5 class="card-title">Samsung QN98QN990F</h5>
          <p class="card-text">Original $35,000!</p>
          <a routerLink = "purchase" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>

    
  </div>
</div>

    

</body>
