#name{
    font-weight: 500;
   
}
#price{
    font-weight: 500;
    
}
#descript{
    font-weight: 350;
    padding-bottom: 5%;
}

.row{
    font-family:"Inter", "Helvetica Neue", Arial;
}

.card-img-top{
    width: 100%;
    height: 70%;

    padding-left: 20%;
    padding-right: 20%;

    padding-top: 5%;
    padding-bottom: 5%;
   
    display: flex;

    justify-content: center;
    align-items: center;
}

.card{
    width: 100%;
    height: 100%;
}
.btn {
    background-color: black;
    border: black;

    margin-left: 30%;
    
    
    height: 25%;
    width: 35%;
    
}
.card-title{
    display: flex;

    justify-content: center;
    align-items: center;
}
