.card-img-top{
    width: 100%;
    height: 100%;

    padding-left: 20%;
    padding-right: 20%;

    padding-top: 5%;
    padding-bottom: 5%;
   
    display: flex;

    justify-content: center;
    align-items: center;
}

.card{
    width: 100%;
    height: 100%;
}
.btn {
    background-color: black;
    border: black;
}