<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div *ngIf="localCurrentItem$ | async as localCurrentItem;">
            <main>
                <div class="product-grid">
                    <div class="main-left">
                        <img [src] = "localCurrentItem[3]" id = "productImg">
                    </div>
                    <div class="product-template-main-right">
                            <div class="product-template-card">
                                
                                <div class="product-template-card-row">
                                    <h3 style="font-weight:600" id = "productName">{{ localCurrentItem[0] }}</h3>
                                </div>
                                <h4 class="price">${{ localCurrentItem[2] }}</h4>
                                <p style="font-weight: bold; font-size: 16px;"></p>
                                <a class="product-template-card-row" style="color: inherit; text-decoration: none;"></a>
                                
                                <div class="d-grid gap-2">
                                    <button (click) = "submitClicked()" type="button" id ="submitOrder">Submit Order</button>
                                </div>
                                <div style="padding-top: 20px;">
                                    <h3 style="font-weight:450">Product details</h3>
                                    <table>
                                        <tr>
                                            <td class="subject">Made of</td>
                                            <td>100% Fictional</td>
                                        </tr>
                                        <tr>
                                            <td class="subject">Origin:</td>
                                            <td> Imported</td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <h3 style="font-weight:450">About this item</h3>
                                    <p>{{ localCurrentItem[1] }}</p>
                                </div>

                            </div>
                    </div>
                </div>
                
            </main>

        </div>
        
    </body>

    
</html>
